<hr>
<h4><%= link_to 'Назад', admin_path %></h4>

<div class="product_pic">
<% if @product.images.present? %>
    <%= image_tag @product.images[0].url(:large) %>
<% end %>
</div>

<div class="product_info">
  <h4><b>Товар:</b> <%= @product.title %></h4>
  <h4><b>Описание:</b> <%= @product.description %></h4>
  <h4><b>Цена:</b> <%= @product.price %></h4>
  <h4><b>Категория:</b> <%= @product.category.title %></h4>
  <h4><b>Артикул:</b> <%= @product.vendor_code %></h4>
  <h4><b>Бренд:</b> <%= @product.brand.title %></h4>
</div>
