
<section id="advertisement">
  <div class="container">
    <img src="<%= image_path '/uploads/shop/advertisement.jpg' %>" alt="" />
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Category</h2>
          <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <% @categories.each do |category| %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title"><a href="<%= category_path(category) %>"><%= category.title %></a></h4>
                      </div>
                    </div>
            <% end %>
          </div><!--/category-products-->
          <div class="brands_products"><!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">
                <% @brands.each do |brand| %>
                    <li><a href="<%= brand_path(brand) %>"> <span class="pull-right">(<%= brand.products_count.nil?  ? '0' : brand.products_count  %>)</span><%= brand.title %></a></li>
                <%end %>
              </ul>
            </div>
          </div><!--/brands_products-->

<!--           <div class="price-range">
            <h2>Price Range</h2>
            <div class="well">
              <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
              <b>$ 0</b> <b class="pull-right">$ 600</b>
            </div>
          </div> -->

          <div class="shipping text-center"><!--shipping-->
            <img src="<%= image_path '/uploads/home/shipping.jpg' %> " alt="" />
          </div><!--/shipping-->
        </div>
      </div>

<!--products_section-->
      <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
          <h2 class="title text-center"><%= @category.title %></h2>
          <% @products.each do |product| %>
              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <a href="<%= product_path(product) %>">
                        <img class="img-responsive" src="<%= product.images[0].url(:main_page_size) %>" alt="<%= product.title %>">
                      </a>
                      <h2><%= product.price %></h2>
                      <p><%= product.title %></p>
                      <a href="<%= add_to_cart_carts_path(product_id: product.id, quantity: 1) %>" data-remote="true" class="btn btn-default add-to-cart">
                        <i class="fa fa-shopping-cart"></i>
                        Добавить в корзину
                      </a>
                      <span class="in_cart">Добавлено в корзину</span>
                    </div>
                  </div>
                  <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                      <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                      <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          <% end  %>

          <div class="clearfix">
            <ul class="pagination">
              <li><%= will_paginate @products %></li>
            </ul>
          </div>

        </div><!--features_items-->
      </div>
    </div>
  </div>
</section>

